@font-face {
  font-family: 'iconfont';  /* project id 561407 */
  src: url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.eot');
  src: url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.svg#iconfont') format('svg');
}
.yiju{
	width: 1366px;
	/* background-color: #e0e0e0; */
	margin: 0 auto;
}
.head{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
 .head img{
	width: 59px;
	height: 55px;
	margin-top: 10px;
	display: block;
	float: left;
}
 .head h3{
	width: 40px;
	height: 56px;
	font-size: 20px;
	float: left;
	margin-top: 10px;
	font-weight: normal;
	
	font-family: "微软雅黑";

}
 .head span{
	font-family: "微软雅黑";
	font-size: 14px;
	margin-right: 14px;
	float: left;
	margin-top: 30px;
}
.head span:hover{
	cursor: pointer;
	color: #fe6700;
}
 .head .shouye{
	margin-left: 310px;
}
 .head .sousuo{
	width: 168px;
	height: 22px;
	float: left;
	margin-left: 14px;
	margin-top: 30px;
	border-radius: 5px;
	border: 1px solid #959595;
	background-color:#fff;
}
.sousuo span{
	font-size:18px;
	font-family: 'iconfont';
	float: left;
	margin-top:5px;
	margin-right: 0;
	margin-left: 5px;


}
.content{
	width: 100%;

}
#banner{
	width: 100%px;
	height: 282px;
	
} 
.banner{
	width: 100%px;
	height: 249px;
	background-color: #BDCCD4;
	margin: 0 auto;
	position: relative;
}
.anli {
	
	text-align: center;
	font-size: 30px;
	color: #fff;

}
.anli h1{
	padding-top: 78px;
	position: absolute;
	top:0;
	left: 560px;
	z-index: 2;

	
}
.anli  h4{
	margin-top: 20px;
	position: absolute;
	top: 110px;
	left: 630px;
	z-index: 2;
	font-weight: normal;
	
}
#banner .chan_img{
	position: absolute;
	left: 600px;
	top: 20px;	 
	width: 180px;	
	height:230px;
	display: block;
}
.banner_nav{
	width: 1200px;
	background-color: #2B6C8C;
	height: 70px;
	margin: 0 auto;
	position: absolute;
	top: 214px;
	left: 83px;
}
.banner_nav_left{
	width: 349px;
	height: 70px;
	background-color: #333;
	color: #fff;
	float: left;
}
 
.banner_nav_item{
	font-size: 18px;
}
.banner_nav_item  .nav_line{
	width: 4px;
	height: 34px;
	border-radius: 5px;
	color: #fff;
	float: left;
	margin-left: 30px;
	background-color: #fff;
	margin-top: 17px;
	float: left;
}

.banner_nav_item  span{
	margin-top: 15px;
	margin-left: 3px;
	display: block;
	float: left;
}
.banner_nav_item  .home{
	margin-top: 39px;
	margin-left: -34px;
	font-size: 14px;
}
.banner_nav_item  .home1{
	margin-left: -70px;
}
.banner_nav_item p{
	font-size: 12px;
	margin-top: 25px;
	float: left;
	margin-left: 30px;
}
.banner_nav_line{
	background-color: #F5C813;
	width: 5px;
	float: left;
	height: 70px;
}
#banner img{
	position: absolute;
	right: 91px;
	top: 132px;
	width: 260px;
	height: 242px;
}
#banner .deng{
	position: absolute;
	top: 36px;
	left: 646px;
	width: 75px;
	height: 200px;
	z-index: -1;
}
.box{
	width:142px;
	height: 142px;
	background-color: #FFEA05;
	top: 260px;
	right: 262px;
	border-radius: 5px;
	opacity: .6;
	position: absolute;
}
#chenggong {
	background-color: #fff;
	width: 1200px;
	margin: 0 auto;
}
.chenggong_title {
	width: 100%;
	padding-top: 70px;
	background-color: #fff;
}
.chenggong_title img{
	display: block;
	margin: 0 auto;
	background-color: #fff;
}
.chenggong_title .tupian{
	margin-top: 10px;
}
.chenggong_title h1{
	text-align: center;
	font-size: 24px;
	font-weight: normal;

}
.wenhua_bottom{
	width: 100%;
	background-color: #fff;
	
}
/* .wenhua_bottom{
	width: 100%;
	height: 372px;
	margin-top: 40px;
} */
.wenhua1{
	height: 372px;
	width: 345px;
	background: url('../img/wo_beijing1.png');
	background-position:-10px -50px;
	float: left;
}
.wenhua1 h1{
	font-size: 82px;
	color: #fff;
	margin-left: 130px;
	font-weight: 400;
	line-height: 90px;
}
.wenhua1 span{
	font-size: 14px;
	color: #fff;
	margin-left: 290px;
	font-weight: 400;
	padding: 1px 6px 2px 8px;
	text-align: center;
	background-color: #245974;
}
.wenhua1 p{
	padding: 1px 4px 2px 8px;
	font-size: 14px;
	color: #fff;
	margin-left: 231px;
	font-weight: 400;
	text-align: center;
	width: 75px;
	height: 20px;
	background-color: #245974;
}
.wenhua_middle{
	width: 548px;
	height: 100%;
	float: left;
	margin-left: 50px;
}
.wenhua_middle_top p{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	line-height: 22px;
	font-family: San Francisco Display;
}
.wenhua_middle_top h1{
	font-size: 38px;
	color: #000;
	line-height: 38px;
	font-family: San Francisco Display;
}
.wenhua_middle_line1{
	width: 117px;
	height: 3px;
	background-color: #F5C813;
	margin-top: 15px;
}
.wenhua_middle_line2{
	width: 436px;
	height: 3px;
	background-color: #245974;
	margin-left: 113px;
	margin-top: -3px;
}
.wenhua_middle_bottom h1{
	font-weight: 400;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #747474;
	margin-top: 10px;
	line-height: 35px;
}
.wenhua_middle_bottom p{
	font-size: 18px;
	color: #747474;
	line-height: 22px;
	margin-bottom: 6px;
}
.wenhua_middle_bottom span{
	font-size: 14px;
	color: #B2B2B2;
	line-height: 21px;
}
.wenhua_middle_more{
	width: 115px;
	height: 27px;
	border: 2px solid #000;
	margin-top: 14px;
	padding-left: 15px;
	line-height: 27px;
	font-size: 22px;
	color: #000;
}
.wenhua_middle_more_right{
	width: 30px;
	height: 27px;
	border: 2px solid #000;
	background-color: #245974;
	float: right;
	margin-right: -2px;
	margin-top: -2px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 27px;
}
.wenhua2{
	width: 249px;
	height: 433px;
	float: right;
	overflow: hidden;
	padding-top: 12px;
}
.wenhua2 img{
	width: 239px;
	height: 433px;
	float: right;
}
.wenhua2_bg{
	width: 160px;
	height: 283px;
	background-color: #F5C813;
	margin-left: -10px;
	margin-top: -12px;
}
.dongtai_title{
	margin-top: 400px;
	padding-top: 100px;
}
.dongtai_middle1{
	width: 1013px;
	height: 316px;
	margin: 0 auto;
	margin-top: 42px;
	position: relative;
}
.dongtai_middle1_left{
	width: 160px;
	height: 283px;
	background-color: #245974;
	margin-top: 33px;
	float: left;
}
.dongtai_middle1_right{
	padding-left: 167px;
	width: 832px;
	height: 301px;
	position: absolute;
	top: 0px;
	left: 15px;
	background-color: #000;
}
.dongtai_middle1_right h1{
	font-size: 38px;
	font-family: San Francisco Display;
	color: #fff;
	line-height: 118px;
}
.dongtai_middle1_right i{
	font-weight: 400;
}
.dongtai_middle1_right p{
	font-size: 20px;
	font-family: 微软雅黑;
	color: #DDDDDD;
	line-height: 20px;
	margin-top: -25px;
	margin-bottom: 14px;
}
.dongtai_middle1_right span{
	font-size: 31px;
	font-family: 微软雅黑;
	color: #fff;
	line-height: 31px;
	margin-top: 25px;
}
.dongtai_middle1_right h2{
	font-size: 105px;
	font-family: 微软雅黑;
	color: #245974;
	line-height: 105px;
	margin-top: 90px;
	margin-left: -15px;
	font-style: oblique;
}
.dongtai_middle1_right_renwu{
	width: 504px;
	height: 256px;
	position: absolute;
	top: 45px;
	right: 47px;
	overflow: hidden;
}
.dongtai_middle2{
	width: 1013px;
	height: 282px;
	margin: 0 auto;
}
.wenhua_middle2_more{
	float: left;
	margin-top: 230px;
	margin-left: 180px;
}
.dongtai_middle2_right{
	width: 449px;
	height: 282px;
	float: right;
	margin-right: 75px;
}
.dongtai_middle2_right1,.dongtai_middle2_right2{
	width: 414px;
	height: 111px;
	padding-top: 30px;
	padding-left: 26px;
}
.dongtai_middle2_right1 h1,.dongtai_middle2_right2 h1{
	font-size: 20px;
	font-family: 微软雅黑;
	line-height: 20px;
	color: #1D1D1D;
	margin-bottom: 18px;
}
.dongtai_middle2_right1 p,.dongtai_middle2_right2 p{
	font-size: 14px;
	font-family: 微软雅黑;
	line-height: 22px;
	color: #BCBCBC;
}
.dongtai_middle2_right1:hover,
.dongtai_middle2_right2:hover{
	border-right: 5px solid #F5C813;
	box-shadow: 0px 0px 20px 5px #EEEFF0; 
}
.new_title{
	margin-top: 0px;
}

.xinpinpai_bottom{
	width: 1200px;
	margin: 0 auto;
	margin-top: 44px;
	height: 400px;
}
.xinpinpai_bottom1,.xinpinpai_bottom2,.xinpinpai_bottom3,
.xinpinpai_bottom5,.xinpinpai_bottom6 {
	float: left;
	position: relative;
	width: 400px;
	height: 400px;
}
.xinpinpai_bottom1:hover img{
	opacity: 0.6;
}
.xinpinpai_bottom3 img{
	width: 482px;
	height: 398px;
}
.xinpinpai_bottom2_cover{
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	left: 0;
	color: #fff;
}
.xinpinpai_bottom2_cover h1{
	margin-left: 50px;
	margin-top: 84px;
	font-size: 28px;
	line-height: 28px;
}
.xinpinpai_bottom2_cover p{
	margin-left: 50px;
	margin-top: 18px;
	font-size: 14px;
	line-height: 20px;
}
.xinpinpai_bottom2_cover h2{
	margin-left: 50px;
	margin-top: 18px;
	font-size: 14px;
	line-height: 20px;
}
.xinpinpai_bottom2_cover_more{
	margin-left: 229px;
	margin-top: 80px;
}
.xinpinpai_bottom_1{
	width: 100%;
	height: 600px;
}
.xinpinpai_bottom4{
	width: 290px;
	height: 600px;
	float: left;
	overflow: hidden;
}
.xinpinpai_bottom5{
	width: 600px;
	height: 400px;
	float: left;
	overflow: hidden;
}
.xinpinpai_bottom6{
	position: relative;
	background-color: yellow;
	width: 474px;
	height: 400px;
	float: left;
	z-index: 1;
}
.xinpinpai_bottom6 img{
	position: absolute;
	right: 0;

}
.xinpinpai_bottom6_cover h1,
.xinpinpai_bottom6_cover p,
.xinpinpai_bottom6_cover h2,
.xinpinpai_bottom6_cover_more{
	float: right;
}
.xinpinpai_bottom7{
	float: left;
	margin-top: 10px;
	margin-left: 8px;
	width: 232px;
	height: 192px;
}
.xinpinpai_bottom8{
	float: left;
	margin-top: 15px;
	margin-left: 8px;
	width: 222px;
	height: 182px;
	background-color: #477389;
	text-align: center;
	line-height: 176px;
	font-size: 24px;
	color: #fff;
}
.zeren{
	margin-top: 66px;
}
.zeren_bottom{
	width: 1000px;
	height: 323px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 79px;
	background-color: #fff;
}
.zeren_bottom img{
	float: left;
}
.zeren_bottom_right{
	height: 323px;
	margin-left: 130px;
	float: left;
}
.zeren_bottom_right h2{
	font-size: 16px;
	line-height: 16px;
	color: #000;
	margin-bottom: 10px;
}
.zeren_bottom_right h1{
	font-size: 55px;
	line-height: 55px;
	color: #000;
	float: left;
	font-style: oblique;
}
.zeren_bottom_right i{
	font-size: 105px;
	line-height: 55px;
	color: #000;
	float: left;
	margin-left: -70px;
	margin-top: 18px;
	font-style: oblique;
}
.zeren_bottom_right p{
	padding-top: 22px;
	clear: both;
	font-size: 24px;
	line-height: 35px;
	color: #000;
	font-style: oblique;
	font-family: 微软雅黑;
}
.zeren_bottom_right_more{
	margin-top: 30px;
}
.about{
	width: 1366px;
	height: 520px;
	background-color: #235975;
	margin: 0 auto;
	overflow: hidden;	
}
.ditu{
	width: 1002px;
	height: 161px;
	background-color: seagreen;
	margin: 0 auto;
	margin-top: 71px;
	position: relative;
}
.ditu .weizhi{
	font-family: 'iconfont';
	position: absolute;
	top: 50px;
	left: 280px;
	font-size:55px;
	color: #194b62;

}
.ditu img{
	width: 1002px;
	height: 161px;
}
.yuanjiao{
	width: 296px;
	height: 70px;
	background-color:#235975;
	border-radius: 8px;
	position: absolute;
	top: 44px;
	left: 355px;
}
.address{
	font-size: 14px;
	font-family: "微软雅黑";
	letter-spacing: 10px;
	color: #fff;
	float: left;
	padding-left: 20px;
	margin-top: 10px;
}
.address1{
	letter-spacing: 2px;
	margin-top: 10px;
}
.xinxi .name{
	width: 184px;
	height: 30px;
	background-color: #fff;
	margin-top: 43px;
	float: left;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #d4d4d4;
	/* padding-left: 20px; */
	line-height: 30px;
}

.xinxi .email{
	margin-left: 11px;
}
.message{
	width: 384px;
	height: 110px;
	background-color: #fff;
	margin-top: 20px;
	color: #d4d4d4;
	font-size: 14px;
	font-family: "微软雅黑";
	float: left;
	position: relative;
}
.message textarea{
	resize: none;
	width: 384px;
	height: 110px;
}
.send_line{
	width: 43px;
	height: 2px;
	background-color: #88adbf;
	position: absolute;
	bottom: 13px;
	right: 50px;
	float: left;

}
.message .jiahao{
	width: 24px;	
	height: 24px;	
	background-color: #2b6c8a;
	position: absolute;
	right: 26px;
	bottom: 13px;
}
.jiahao p{
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}
.message span{
	color: #2b6c8a;
	position: absolute;
	bottom: 17px;
	right: 55px;
	font-weight: bold;

}
.more_content{
	width: 302px;
	height: 166px;
	/* background-color:black; */
	float: left;
	margin-left: 70px;
	margin-top: 42px;
}
.xinxi{
	float: left;
	width: 420px;
	height: 210px;
}
.more_content span{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	padding-top: 10px;
} 
.more_content .yingwen1{
	color: #668796;
	display: block;
	margin-top: -7px;
	font-size: 14px;
	font-family: "san francisco display";
}
.more_content .zizhi{
	display: block;
}
.xbox{
	width: 56.7px;
	height: 104px;
	float: left;
}
.xbox .zizhi:hover{
	cursor: pointer;
	color: #aec4d2;
}
.xbox1{
	margin-left: 65px;
}
.lianxi{
	width: 168px;
	height: 166px;
	margin-left: 380px;
	/* background-color: grey; */
	float: left;
	margin-top: -146px;
}
.fu_box{
	width: 168px;
	height: 30px;
	margin-top: 36px;
	margin-left: 10px;
}
.lianxi .tou{
	font-family: 'iconfont';
	width: 30px;
	height: 30px;
	font-size: 30px;
	letter-spacing: 13px;
}
.gu_wenzi{
	width: 168px;
	height: 40px;
	margin-top: 10px;
}
.end{
	width: 1366px;
	height: 56px;
	background-color: #191919;
	margin: 0 auto;
}
.end span{
	text-align: center;
	padding-top: 12px;
	color: #7a7a7a;
	font-size: 12px;
	font-family: "微软雅黑";
	display: block;
}
.end .e_wenzi{
	margin-top: -10px;
} 