
@font-face {
  font-family: 'iconfont';  /* project id 561407 */
  src: url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.eot');
  src: url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561407_k7bgtysj79hn0zfr.svg#iconfont') format('svg');
}
.yiju{
	width: 1366px;
	/* background-color: #e0e0e0; */
	margin: 0 auto;
}
.head{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
 .head img{
	width: 59px;
	height: 55px;
	margin-top: 10px;
	display: block;
	float: left;
}
 .head h3{
	width: 40px;
	height: 56px;
	font-size: 20px;
	float: left;
	margin-top: 10px;
	font-weight: normal;
	
	font-family: "微软雅黑";

}
 .head span{
	font-family: "微软雅黑";
	font-size: 14px;
	margin-right: 14px;
	float: left;
	margin-top: 30px;
}
 .head .shouye{
	margin-left: 310px;
}
 .head .sousuo{
	width: 168px;
	height: 22px;
	float: left;
	margin-left: 14px;
	margin-top: 30px;
	border-radius: 5px;
	border: 1px solid #959595;
	/* background-color: blue; */
}
.sousuo span{
	font-size:18px;
	font-family: 'iconfont';
	float: left;
	margin-top:5px;
	margin-right: 0;
	margin-left: 5px;


}
.content{
	width: 100%;
	background-color: #fff;

}
#banner{
	width: 100%px;
	height: 282px;
	
} 
.banner{
	width: 100%px;
	height: 249px;
	background-color: #BDCCD4;
	margin: 0 auto;
	position: relative;
}
.anli {
	
	text-align: center;
	font-size: 30px;
	color: #fff;

}
.anli h1{
	padding-top: 78px;
	position: absolute;
	top:0;
	left: 500px;
	z-index: 2;

	
}
.anli  h4{
	margin-top: 20px;
	position: absolute;
	top: 120px;
	left: 620px;
	z-index: 2;
	font-weight: normal;
	
}
#banner .chan_img{
	position: absolute;
	left: 600px;
	top: 20px;	 
	width: 170px;	
	height: 260px;
	display: block;
}
.banner_nav{
	width: 1200px;
	background-color: #2B6C8C;
	height: 70px;
	margin: 0 auto;
	position: absolute;
	top: 214px;
	left: 83px;
}
.banner_nav_left{
	width: 500px;
	height: 70px;
	background-color: #333;
	color: #fff;
	float: left;
}
 
.banner_nav_item{
	font-size: 18px;
}
.banner_nav_item  .nav_line{
	width: 4px;
	height: 34px;
	border-radius: 5px;
	color: #fff;
	float: left;
	margin-left: 30px;
	background-color: #fff;
	margin-top: 17px;
	float: left;
}

.banner_nav_item  span{
	margin-top: 15px;
	margin-left: 3px;
	display: block;
	float: left;
}
.banner_nav_item  .home{
	margin-top: 39px;
	margin-left: -34px;
	font-size: 14px;
}
.banner_nav_item  .home1{
	margin-left: -70px;
}
.banner_nav_item p{
	font-size: 12px;
	margin-top: 25px;
	float: left;
	margin-left: 30px;
}
.banner_nav_line{
	background-color: #F5C813;
	width: 5px;
	float: left;
	height: 70px;
}
#banner img{
	position: absolute;
	right: 91px;
	top: 132px;
	width: 260px;
	height: 242px;
}
#banner .deng{
	position: absolute;
	top: 36px;
	left: 646px;
	width: 75px;
	height: 200px;
	z-index: -1;
}
.box{
	width:142px;
	height: 142px;
	background-color: #FFEA05;
	top: 260px;
	right: 262px;
	border-radius: 5px;
	opacity: .6;
	position: absolute;
}
#chenggong {
	background-color: #fff;
	width: 1200px;
	margin: 0 auto;
}
.ct_item{
	/*background-color: red;*/
	margin:0 auto;
	/*width: 1200px;*/
	/*height: 900px;*/
	padding-left: 120px;
	padding-right: 96px;
	margin-top: 30px;
	position: relative;
	/*margin-bottom: 50px;*/
	overflow: hidden;
}
.item14{
	padding-left: 30px;
}
.ct_itemtop{
	height: 98px;
	/*background-color: green;*/
	border-bottom: 2px dashed #5B5B5B;
}
.item15{
	height: 105px;
}
.ct_itemtop_left{
	width: 145px;
	height: 100%;
	/*background-color: yellow;*/
	float: left;
}
.ct_itemtop_left img{
	width: 56px;
	height: 59px;
	float: left;
	margin-right: 5px;
}
.ct_itemtop_left p{
	float: left;
	font-size:21px;
	color: #2B6B8E;
	margin-top: 5px;
}
.wz1{
	margin-top: 5px;
	font-size: 22px;
	font-weight: bold;
}
.wz2{
	font-size: 20px;
	color: #5b5b5b;
}
.ct_itemtop_right{
	overflow:hidden;
}
.ct_item1{
	/*margin-top: 30px;*/
	overflow: hidden;
	
}
.item18{
	margin-top: 70px;
}
.ct_biaoti{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 27px;
}
.ct_biaoti p{
	/*width: 954px;*/
	float: left;
	font-size: 16px;
	font-weight: bold;
	float: left;
	

}
.heidian{
	width: 9px;
	height: 9px;
	float: left;
	background-color: black;
	margin-right: 14px;
	margin-top: 5px;
}
.ct_item1 i{
	color: #C3C3C3;
}
.itemdesc{
	font-size: 14px;
	margin-left: 14px;
	color: #7a7a7a;
	line-height: 25px;
	font-weight: bold;
}
.wzitem1{
	margin-left: 24px;
}
	

.itemdesc2{
	font-size: 14px;
	margin-left: 14px;
	margin-top: 38px;
	color: #7a7a7a;
	line-height: 26px;
	font-weight: bold;
}
.beijingtu{
	width: 100%;
	height: 390px;
	position: relative;
	/*background-color: green;*/

}

.wztu1{
	position: absolute;
	top:40px;
	left: 111px;
	border:2px solid white;
	box-shadow:0px 0px 15px 0px #7d7d7d;
	/*margin-bottom: 80px;*/
}
.item19{
	left: 823px;
}
.zutu3{
	top:60px;
}
.content1{
	width: 1200px;
	margin: 0 auto;
}

.item14{
	padding-left: 30px;
}

.ct_biaoti{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 27px;
}
.ct_biaoti p{
	/*width: 954px;*/
	float: left;
	font-size: 16px;
	font-weight: bold;
	float: left;
	

}
.ct_biaoti p{
	/*width: 954px;*/
	float: left;
	font-size: 16px;
	font-weight: bold;
	float: left;
	

}
.ct_item1 i{
	color: #C3C3C3;
}
.wzitem1{
	margin-left: 24px;
}
	

.itemdesc2{
	font-size: 14px;
	margin-left: 14px;
	margin-top: 38px;
	color: #7a7a7a;
	line-height: 26px;
	font-weight: bold;
}
.heidian{
	width: 9px;
	height: 9px;
	float: left;
	background-color: black;
	margin-right: 14px;
	margin-top: 5px;
}
.item17{
	margin-top: 74px;
}
.fenxiang{
	width: 1200px;
	height: 68px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin:0 auto;
	margin-top: 50px;
}
.fxleft{
	width: 60px;
	margin-left: 38px;
	font-size: 12px;
	margin-top: 18px;
	overflow: hidden;
	float: left;
}
.fxwz1{
	color: #a9a9a9;
}
.fxwz2{
	color: #5e5e5e;
}
.fxway{
	width: 150px;
	height: 26px;
	margin-left: 35px;
	margin-right: 406px;
	float: left;
	margin-top: 18px;
	font-family: 'iconfont';
	color: #363636;
}
.fxway span{
	margin-right: 20px;
	line-height: 26px;
	font-size: 26px;
}
.fxsyp{
	width: 220px;
	height: 68px;
	float: left;
	font-size: 14px;
	margin-right: 46px;
	border-right: 3px solid #fe6700;
}
.fxitem1{
	margin-right: 0px;
}
.fxsyp:hover{
	box-shadow: 0px 0px 15px 0px #D6DADB;
	border-right: 3px solid #F5C813;
}
.fxsyp span{
	margin-top: 27px;
	margin-left: 8px;
	margin-right: 10px;
}
.fxgang{
	display: inline-block;
	width: 1px;	
	height: 7px;
	margin-top: 31px;

}
.content4{
	width: 330px;
	height: 40px;
	margin:0 auto;
	font-family: 'iconfont';
	text-align: center;
	line-height: 40px;
	margin-top: 54px;
	margin-bottom: 36px;
	position: relative;
}
.item13{
	width: 190px;
}
.num{
	width: 24px;
	height: 24px;
	background-color: #E5E5E5;
	border-radius: 12px;
	float: left;
	margin:0 auto;
	margin-left: 38px;
	margin-top: 8px;
	text-align: center;
	line-height: 24px;
	margin-right: 22px;
	cursor: pointer;

}
.num:hover{
	background-color: #174E6D;
	color: white;
}
.num2{
	margin-left: 0px;
}
.c4l{
	float: left;
	font-size: 22px;
}
.c42{
	float: right;
	font-size: 22px;
}
.about{
	width: 1366px;
	height: 520px;
	background-color: #235975;
	margin: 0 auto;
	overflow: hidden;	
}
.ditu{
	width: 1002px;
	height: 161px;
	background-color: seagreen;
	margin: 0 auto;
	margin-top: 71px;
	position: relative;
}
.ditu .weizhi{
	font-family: 'iconfont';
	position: absolute;
	top: 50px;
	left: 280px;
	font-size:55px;
	color: #194b62;

}
.ditu img{
	width: 1002px;
	height: 161px;
}
.yuanjiao{
	width: 296px;
	height: 70px;
	background-color:#235975;
	border-radius: 8px;
	position: absolute;
	top: 44px;
	left: 355px;
}
.address{
	font-size: 14px;
	font-family: "微软雅黑";
	letter-spacing: 10px;
	color: #fff;
	float: left;
	padding-left: 20px;
	margin-top: 10px;
}
.address1{
	letter-spacing: 2px;
	margin-top: 10px;
}
.xinxi .name{
	width: 184px;
	height: 30px;
	background-color: #fff;
	margin-top: 43px;
	float: left;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #d4d4d4;
	/* padding-left: 20px; */
	line-height: 30px;
}

.xinxi .email{
	margin-left: 11px;
}
.message{
	width: 384px;
	height: 110px;
	background-color: #fff;
	margin-top: 20px;
	color: #d4d4d4;
	font-size: 14px;
	font-family: "微软雅黑";
	float: left;
	position: relative;
}
.message textarea{
	resize: none;
	width: 384px;
	height: 110px;
}
.send_line{
	width: 43px;
	height: 2px;
	background-color: #88adbf;
	position: absolute;
	bottom: 13px;
	right: 50px;
	float: left;

}
.message .jiahao{
	width: 24px;	
	height: 24px;	
	background-color: #2b6c8a;
	position: absolute;
	right: 26px;
	bottom: 13px;
}
.jiahao p{
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}
.message span{
	color: #2b6c8a;
	position: absolute;
	bottom: 17px;
	right: 55px;
	font-weight: bold;

}
.more_content{
	width: 302px;
	height: 166px;
	/* background-color:black; */
	float: left;
	margin-left: 70px;
	margin-top: 42px;
}
.xinxi{
	float: left;
	width: 420px;
	height: 210px;
}
.more_content span{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	padding-top: 10px;
} 
.more_content .yingwen1{
	color: #668796;
	display: block;
	margin-top: -7px;
	font-size: 14px;
	font-family: "san francisco display";
}
.more_content .zizhi{
	display: block;
}
.xbox{
	width: 56.7px;
	height: 104px;
	float: left;
}
.xbox .zizhi:hover{
	cursor: pointer;
	color: #aec4d2;
}
.xbox1{
	margin-left: 65px;
}
.lianxi{
	width: 168px;
	height: 166px;
	margin-left: 380px;
	/* background-color: grey; */
	float: left;
	margin-top: -146px;
}
.fu_box{
	width: 168px;
	height: 30px;
	margin-top: 36px;
	margin-left: 10px;
}
.lianxi .tou{
	font-family: 'iconfont';
	width: 30px;
	height: 30px;
	font-size: 30px;
	letter-spacing: 13px;
}
.gu_wenzi{
	width: 168px;
	height: 40px;
	margin-top: 10px;
}
.end{
	width: 1366px;
	height: 56px;
	background-color: #191919;
	margin: 0 auto;
}
.end span{
	text-align: center;
	padding-top: 12px;
	color: #7a7a7a;
	font-size: 12px;
	font-family: "微软雅黑";
	display: block;
}
.end .e_wenzi{
	margin-top: -10px;
} 